# gmail
GMAIL_USER=gmail_address@gmail.com
GMAIL_APP_PASSWORD=app_password
CONTACT_RECIPIENT_EMAIL=recipient@example.com

# contentful env
CONTENTFUL_SPACE_ID=space_id
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_DELIVERY_TOKEN=token
CONTENTFUL_PREVIEW_TOKEN=token

# Contentful content type overrides
CONTENTFUL_BLOG_POST_CONTENT_TYPE_ID=post
CONTENTFUL_PROJECT_CONTENT_TYPE_ID=project
CONTENTFUL_HERO_SECTION_CONTENT_TYPE_ID=heroSection
CONTENTFUL_PROJECTS_SECTION_CONTENT_TYPE_ID=projectsSection
CONTENTFUL_SKILLS_SECTION_CONTENT_TYPE_ID=skillsSection
CONTENTFUL_BLOG_SECTION_CONTENT_TYPE_ID=blogSection
CONTENTFUL_CONTACT_CONTENT_TYPE_ID=contactSection
CONTENTFUL_BLOG_PAGE_CONTENT_TYPE_ID=blogPage
CONTENTFUL_PROJECTS_PAGE_CONTENT_TYPE_ID=projectsPage
